Source: hamsterfiler
Section: user/utilities
Priority: extra
Maintainer: Sander <sander@sanderf.nl>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    qt5-default,
    ccache,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libqt5svg5-dev,
    libqt5maemo5-dev,
    libqt5x11extras5-dev,
    qtdeclarative5-dev,
    qtdeclarative5-dev-tools,
    libgio2.0-cil-dev,
    libhildon1-dev,
    libhildon-thumbnail-dev,
    libhildonmime-dev,
    libglib2.0-dev,
    libgtk2.0-dev,
Homepage: https://github.com/maemo-leste-extras/hamsterfiler
XSBC-Bugtracker: https://github.com/maemo-leste-extras/hamsterfiler/issues
Vcs-Git: https://github.com/maemo-leste-extras/hamsterfiler
Vcs-Browser: https://github.com/maemo-leste-extras/hamsterfiler

Package: hamsterfiler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    hildon-thumbnail,
    osso-icons-default
Description: A cute little file manager with some advanced features regardless
